name: Build

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24.x
      - name: Install dependencies
        run: npm i
      - name: Run lint step
        run: npm run lint

  test-node:
    name: Test on Node.js
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 18.x # to be removed 2025-04-30
          - 20.x # to be removed 2026-04-30
          - 21.x # to be removed 2024-06-01
          - 22.x
    steps:
      - name: Checkout the project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm i
      - name: Run Node.js Tests
        run: npm run test:node

  test-linux-browsers:
    name: Test on Linux Firefox & Chrome
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24.x
      - name: Install dependencies
        run: npm i
      - name: Run Node.js Tests
        run: npm run test:browser
      - name: Upload coverage
        if: success()
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2

  test-windows-browsers:
    name: Test on Windows Firefox, Chrome & Edge
    runs-on: windows-latest
    steps:
      - name: Checkout the project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24.x
      - name: Install dependencies
        run: npm i
      - name: Run Node.js Tests
        run: npm run test:browser
